<script lang="ts" setup>
import { ref } from "vue";
const num = ref("0");
</script>

<template>
  <v-form>
    <v-container>
      <v-row>
        <v-col cols="12">
          <v-text-field
            label="Please input Number"
            v-model="num"
            :rules="[(v) => !!v || 'Number is not empty!!']"
            required
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="1" v-for="item in parseInt(num)" :key="item">
          <label>{{ item }}</label>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>
