<script lang="ts" setup>
import { ref } from "vue";
class productData {
  id: number;
  name: string;
  price: number;
  static lastId = 1;
  constructor(name: string, price: number) {
    this.id = productData.lastId++;
    this.name = name;
    this.price = price;
  }
}

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

const sum = ref(0);
const selectedProducts = ref<productData[]>([]);

const Add = (pd: productData) => {
  selectedProducts.value.push(pd);
  sum.value = sum.value + pd.price;
  console.log(selectedProducts);
};
</script>
<template>
  <v-container>
    <v-row class="justify-center">
      <v-col>
        <v-card height="800px" width="800px" style="overflow-y: scroll">
          <v-row>
            <v-col cols="4" v-for="item of products" :key="item.id">
              <v-card height="120px" width="200px">
                <v-card-title class="text-center">{{ item.name }}</v-card-title>
                <v-card-text class="text-center">
                  {{ item.price }}
                </v-card-text>
                <v-card-action>
                  <v-btn class="ml-16" @click="Add(item)">Add</v-btn>
                </v-card-action>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
      </v-col>

      <v-col>
        <v-card
          class="text-h5"
          height="600px"
          width="800px"
          style="overflow-y: scroll"
        >
          <v-table>
            <thead>
              <tr>
                <th>id</th>
                <th>name</th>
                <th>price</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in selectedProducts" :key="item.id">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
              </tr>
              <td
                colspan="5"
                style="text-align: center"
                v-if="selectedProducts.length === 0"
              >
                <label class="text-h3">NO Data</label>
              </td>
            </tbody>
          </v-table>
        </v-card>
        <v-card class="pa-7" height="100px" width="800px">
          <label class="text-h3">Sum: {{ sum }}</label>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
