<script lang="ts" setup>
import { ref } from "vue";

let img = ref("../feeling_imgs/smile.png");
let status = ref("Smile");

const smile = () => {
  img.value = "../feeling_imgs/smile.png";
  status.value = "Smile";
};

const angry = () => {
  img.value = "../feeling_imgs/angry.png";
  status.value = "Angry";
};

const cute = () => {
  img.value = "../feeling_imgs/cute.png";
  status.value = "Cute";
};

const excited = () => {
  img.value = "../feeling_imgs/excited.png";
  status.value = "Excited";
};

const pain = () => {
  img.value = "../feeling_imgs/pain.png";
  status.value = "Pain";
};

const shocked = () => {
  img.value = "../feeling_imgs/shocked.png";
  status.value = "Shocked";
};
</script>
<template>
  <v-container>
    <v-row class="justify-center">
      <v-col cols="4">
        <v-img :src="img" width="500"> </v-img>
      </v-col>
      <v-col cols="6" class="ma-3 pa-5">
        <v-row class="pa-2 justify-center text-h3">
          <p>{{ status }}</p>
        </v-row>
        <v-row class="pa-2 justify-center">
          <v-btn
            width="500px"
            :color="status === 'Angry' ? 'yellow' : 'none'"
            @click="angry"
            >ANGRY</v-btn
          >
        </v-row>
        <v-row class="pa-2 justify-center">
          <v-btn
            width="500px"
            :color="status === 'Cute' ? 'yellow' : 'none'"
            @click="cute"
            >CUTE</v-btn
          >
        </v-row>
        <v-row class="pa-2 justify-center">
          <v-btn
            width="500px"
            :color="status === 'Excited' ? 'yellow' : 'none'"
            @click="excited"
            >EXCITED</v-btn
          >
        </v-row>
        <v-row class="pa-2 justify-center">
          <v-btn
            width="500px"
            :color="status === 'Pain' ? 'yellow' : 'none'"
            @click="pain"
            >PAIN</v-btn
          >
        </v-row>
        <v-row class="pa-2 justify-center">
          <v-btn
            width="500px"
            :color="status === 'Shocked' ? 'yellow' : 'none'"
            @click="shocked"
            >SHOCKED</v-btn
          >
        </v-row>
        <v-row class="pa-2 justify-center">
          <v-btn
            width="500px"
            :color="status === 'Smile' ? 'yellow' : 'none'"
            @click="smile"
            >SMILE</v-btn
          >
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
