<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const counterStore = useCounterStore();
</script>
<template>
  <v-card height="140px" width="215px">
    <v-card-title class="text-h6">First Component</v-card-title>
    <v-card-text class="text-h6">
      {{ counterStore.count }}
    </v-card-text>
    <v-card-action>
      <v-btn class="ml-10" @click="counterStore.increment"
        ><label>INCREMENT</label></v-btn
      >
    </v-card-action>
  </v-card>
</template>
